@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Light'), local('Proxima-Nova-Light'),
    url('../ProximaNova-Light.woff2') format('woff2'),
    url('../ProximaNova-Light.woff') format('woff'),
    url('../ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
    url('../ProximaNova-Regular.woff2') format('woff2'),
    url('../ProximaNova-Regular.woff') format('woff'),
    url('../ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-main-text: #1c1c1c;
}

body {
    overflow: hidden;
    font-family: 'Proxima Nova', sans-serif;
}

.sky {

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(117deg, #ffffff, #fff8bd);
    animation: sky .75s linear 1.5s;
}


.desert {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url("../img/desert.png") no-repeat;
    background-size: cover;
    height: 25vh;
    z-index: 10;
   animation: nuclear-desert 5s ease-in 1.5s forwards;
    transform: scale(1.2);
}

.desert-hot {
    position: absolute;
    left: 0;
    bottom: 13vh;
    width: 100%;
    background: url("../img/desert-hot.png") no-repeat;
    background-size: cover;
    height: 25vh;
    z-index: 5;
    filter: blur(3px);
    transform: scale(1.2);
   animation: morok 5s ease-in 1.5s  forwards;
}

.screen-1 .desert-hot {
    background: url("../img/main.png") no-repeat;
    background-size: cover;
}

.screen-2 .desert-hot {
    background: url("../img/right.png") no-repeat;
    background-size: cover;
}

.screen-3 .desert-hot {
    background: url("../img/left.png") no-repeat;
    background-size: cover;
}

.screen-2 > *,
.screen-3 > * {
    animation: none;
    transform: none;
}

.city {
    position: absolute;
    background: url(../img/city.png) repeat-x;
    width: 100%;
    height: 34vh;
    bottom: 19vh;
    left: 0;
    background-size: 25%;
}

.mushroom {
    position: absolute;
    left: calc(50% - 160px);
    bottom: 34vh;
    opacity: 0;
    animation: explosion 4.6s linear 2s forwards;
}

.fallout24 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin-top: 15vh;
    opacity: 0;
    color: var(--color-main-text);
    animation: .35s showText linear 6s forwards;
}

.screen-1 .desert img {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scale(1.5) translateX(300px);
    width: 500px;
    height: 477px;
}


body.ready .desert,
body.ready .desert-hot,
body.ready .screen-1 .desert img {
    transform: scale(1) translate(0);
    transition: transform 1s linear;
}

body.ready .mushroom {
    transform: scale(1.2) ;
    bottom: 32vh ;
    transition: transform 1s linear;
}

.screen {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.screen-1 {
    transform: translateX(0) translateY(0);
    transition: transform 1s linear;
}

.screen-2 .sky {
    background: linear-gradient(117deg, #fff8bd, #ffffff);
}

.screen-3 .sky {
    background: linear-gradient(117deg, #fff8bd, #ffffff);
}

.screen-2 {
    transform: translateX(100vw) translateY(-100vh);
    transition: transform 1s linear;
}

.screen-3 {
    transform: translateX(-100vw) translateY(-200vh);
    transition: transform 1s linear;
}

.screen-2.main {
    transform: translateX(0) translateY(-100vh);
    transition: transform 1s linear;
}

.screen-3.main {
    transform: translateX(0) translateY(-200vh);
    transition: transform 1s linear;
}

.screen-1.left {
    transform: translateX(-100vw) translateY(0);
    transition: transform 1s linear;
}

.screen-1.right {
    transform: translateX(100vw) translateY(0);
    transition: transform 1s linear;
}

.back {
    background: url("../img/road-t2-back.png") no-repeat;
    left:0;
    bottom:0;
    position: absolute;
    width: 328px;
    height: 437px;
    cursor: pointer;
}

.goMain {
    background: url("../img/road-t2.png") no-repeat;
    right:0;
    left: auto;
    bottom:0;
    position: absolute;
    width: 328px;
    height: 437px;
    cursor: pointer;
}

.fire {
    position: absolute;
    width: 100px;
    height: 50px;
    background: red;
    filter: blur(10px);
}

.mobileMenu {
    display: none;
}

@keyframes showText {
    100% {opacity: 1}
}

@keyframes morok {
    0% {filter: blur(3px)}
    25% {filter: blur(3px) brightness(10)}
    50% {filter: blur(5px) brightness(1) contrast(200%)}
    100% {filter: blur(3px)}
}

@keyframes nuclear-desert {
0% {filter: none}
25% {filter: brightness(.4)}
50% {filter: brightness(1) contrast(140%)}
100% {filter: none}
}

@keyframes explosion {
    80% {opacity: 1; transform: scale(1.4) translateY(-50px); bottom: 32vh}
    100% {opacity: 1; transform: scale(1.2) translateY(0); bottom: 32vh}
}

@keyframes sky {
     0% {filter: brightness(0)}
100% {filter: brightness(100%)}
}

@media screen and (max-width: 1280px){
    @keyframes explosion {
        80% {opacity: 1; transform: scale(1.2) translateY(-50px); bottom: 30vh}
        100% {opacity: 1; transform: scale(1) translateY(0); bottom: 30vh}
    }

    .fallout24 {
        margin-top: 10vh;
        font-size: 60px;
    }

    .goMain,
    .back {
        background-size: cover;
        width: 250px;
        height: 333px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .mobileMenu {
        display: block;
        width: 100%;
        height: 25vh;
        background: url("../img/nav.png") no-repeat;
        background-size: cover;
        transform: translateY(15vh);
        transition: transform .25s ease-in;
    }

    .mobileMenu.open {
        transform: translateY(0);
        transition: transform .15s ease-out;
    }

    .mobileMenu nav {
        display: none;
    }

    .mobileMenu.open nav {
        display: block;
    }

    .mobileMenu nav ul li {
        list-style-type: none;
    }

    .mobileMenu nav ul {
        padding: 20px;
        height: 19vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobileMenu.open nav ul li a {
        transition: opacity .25s ease-in;
        opacity: 1;
    }

    .mobileMenu nav ul li a {
        font-size: 48px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        opacity: .8;
        color: #000;
        text-decoration: none;
        transition: opacity .21s ease-out;
        opacity: 0;
    }

    .desktopMenu {
        display: none;
    }

    .screen-3 .desert-hot img{
        width: 100%;
    }

    .h {
        display: none;
    }

    .goMain, .back {
        height: 200px;
    }

    .city {
        background-size: 100%;
    }
}
